In [2]:
def vol(rad):
    sphere = 4/3 * 3.14 * rad**3
    return sphere
vol(5)

523.3333333333334

In [8]:
def ran_check(num,low,high):
    if num in range(low,high):
        return '{} is in range between {} and {}'.format (num,low,high)
    else:
        return 'Wrong'
    
ran_check(5,2,7)

'5 is in range between 2 and 7'

In [10]:
def ran_bool(num,low,high):
    if num in range(low,high):
        return True
    else:
        return False
ran_bool(5,2,7)

True

In [41]:
st = 'Hello Mr. Rogers, how are you this fine Tuesday?'

def up_low(s):
    up = 0
    lower = 0
    for letter in s:
        if letter.isupper( ):
            up += 1
        elif letter.islower():
            lower += 1
        else :
            pass

    print (f'No. of Upper case characters :  {up}')
    print (f'No. of lower case characters :  {lower}')

up_low(st)

No. of Upper case characters :  4
No. of lower case characters :  33

In [45]:
def unique_list(lst):
    unique_lst= set()
    for item in lst:
        unique_lst.add(item)
    print (unique_lst)

unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

{1, 2, 3, 4, 5}

In [48]:
def unq_lst (lst):
    xlist = []
    for item in lst:
        if item not in xlist:
            xlist.append(item)
    return xlist

unq_lst([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [51]:
def multiply(numbers):
    result = 1
    for num in numbers:
        result *= num
    return result

multiply([1, 2, 3, -4])

-24

In [57]:
def palindrome(s):
    for word in s:
        return word == word[::-1]
    
palindrome('nurses run')

True

In [70]:
import string
def ispangram(str1, alphabet = string.ascii_lowercase):
    alphaset = set(alphabet)
    
    str1 = str1.replace(' ', '')

    str1 = str1.lower()

    str1 = set(str1)

    return str1 == alphaset

ispangram("The quick brown fox jumps over the lazy dog")

True

In [68]:
def ispangram(alphabet = string.ascii_lowercase):
    return alphabet
ispangram()

'abcdefghijklmnopqrstuvwxyz'